.header__top-container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}

.header__logo-container {
    margin: 0;
    width: 16rem;
}

.header__logo {
    width: 16rem;
    height: 3.6rem;
}

.header {
    background-image: url(../images/banner-bg-tablet.jpg);
    background-position: center;
    padding-bottom: 12.5rem;
}

.header__title {
    font-size: 4rem;
    margin: 10rem auto 0;
    max-width: 62rem;
}


/*trends*/

.trends__conteiner {
    display: flex;
    flex-wrap: wrap;
}

.trends_article {
    flex-grow: 1;
    padding-top: 6.5rem;
    max-width: calc(50% - 2px);
}

.trends_article:nth-child(2n+2) {
    margin-left: 0.2rem;
}

.trends__content {
    padding: 3.5rem 6rem 3.5rem 3rem;
}


/*page*/

.page {
    display: flex;
    justify-content: space-around;
}

.last-post__header {
    margin: auto;
    max-width: 61rem;
}

.aside {
    min-width: 27rem;
    max-width: 27rem;
    margin-left: 3.5rem;
}


/*shop*/

.shop__conteiner {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
}

.shop__article {
    max-width: calc(50% - 1.1rem);
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.shop__content {
    flex-grow: 1;
}